body html{
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}
.login-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #071e2d; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #525557aa,#a7acaf); 
  font-family: 'Roboto';
}

.logo{
  height: 100px;
  width: 100px;
  padding: 10px;
}


.form-signin {
  border-style: solid;
  border-width: 0px;
  border-radius: 9px 9px 0px 0px;
  min-width: 350px;
  padding: 40px 10px 40px 10px;
  background-color: #061e2d;
}

.btn-login {
  background-color: #cd683e;
  color: #ffffff;
}

.btn-login:hover{
  background-color: #c23439;
  color: #ffffff;
}


.opcoes-login{
  margin: 0px;
  padding: 12px 0px 0px 0px;
  background-color: #3d464b;
  min-width: 350px;
  height: 50px;
  border-radius: 0px 0px 9px 9px;
}

.opcoes-login a{
  text-decoration: none;
  color: #ffffff;
  transition: .3s ease-in;
}

.opcoes-login a:hover{
 color: #dd9d3c;
}
