body{
  padding: 0;
  margin: 0;
}
.form-cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #666666;
}

.form-login{
  max-width: 650px;
 }

 .btn-cadastro {
  background-color: #cd683e;
  color: #ffffff;
}

.btn-cadastro:hover{
  background-color: #c23439;
  color: #ffffff;
}
